.main-cab{
  padding-top: 80px;
}

.navbar {
  background: #343a40;
  padding: 1rem 4rem;
}

.navbar .navbar-brand {
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
}

#navbarNav>ul>li:nth-child(n)>a {
  color: white;
  font-size: 1.2rem;
  padding: 0 0.8rem;
}

#navbarNav>ul>li:nth-child(n)>a:hover {
  color: greenyellow;
}

#navbarNav>button {
  color: whitesmoke;
  font-size: 1.4rem;
  font-weight: 600;
  background-color: greenyellow;
  padding: 0 0.8rem;
  border-radius: 30px;
}

#navbarNav>button:hover {
  color: whitesmoke;
  background-color: green;
}

.btn .btn-primary btn-xl {
  color: whitesmoke;
  font-size: 1.4rem;
  font-weight: 600;
  background-color: blue;
  padding: 0 0.8rem;
  border-radius: 30px;
}

.cabformclass {
  max-width: 1000px;
  width: 100%;
  background: greenyellow;
  padding: 25px 30px;
  border-radius: 10px;


}

.cab_form_input {
  display: flex;
  margin: 0 20px 0 20px;
  align-items: center;
  justify-content: space-between;

}

.btn1 {
  text-align: center;
  color: white;
  border-radius: 5px;
  font-size: 30px;
  background-color: black;
  align-items: center;
}

.cab_img,
.cab_svg {
  width: 40%;
  vertical-align: middle;
}


.cab_input,
.cab_textarea,
.cab_button {
  padding: 8px 15px;
  border-radius: 5px !important;
  margin: 5px 0px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 18px !important;
  font-weight: 300
}

/* input:focus,
textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #00BCD4;
  outline-width: 0;
  font-weight: 400
} */

.btn-block {
  text-transform: uppercase;
  font-size: 15px !important;
  font-weight: 400;
  height: 43px;
  cursor: pointer
}

.btn-block:hover {
  color: greenyellow !important
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0
}

.USER-DETAILS .input-box input:focus,
.USER-DETAILS .input-box input:valid {
  border-color: whitesmoke;
}


/* Css for Navbar (After Login) */
.avatar {
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

#navbarNav>ul>li:nth-child(n)>a {
  text-decoration: none;
}

#navbarNav>ul>li:nth-child(n)>a:hover {
  text-decoration: none;
}

.navbar .dropdown-menu i {
  font-size: 16px;
  min-width: 22px;
}

.navbar .dropdown.open>a {
  background: none !important;
}

.navbar .dropdown-menu {
  border-radius: 1px;
  border-color: #e5e5e5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.navbar .dropdown-menu li a {
  text-decoration: none;
  color: #777;
  padding: 8px 20px;
  line-height: normal;
}

.navbar .dropdown-menu li a:hover,
.navbar .dropdown-menu li a:active {
  color: #333;
}

.navbar .dropdown-menu .material-icons {
  font-size: 21px;
  line-height: 16px;
  vertical-align: middle;
  margin-top: -2px;
}