
.container-up{
    padding:5%;
}

.container-up .details{
    display: flex;
    align-items: center;
    justify-content: center;
    border-left:3px solid #ded4da;
}
.container-up .details p{
    padding-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:15px;
    font-weight:bold;
}


.profileImage{
    width: 75%;
}

.middle{
    display: flex;
    align-items: center;
    justify-content: center;
}

